<div class="container-fluid">
<div class= "d-flex justify-content-between">
<h1>  Food list </h1>
   <%= link_to "Add New", new_food_path, class: "btn btn-primary mb-3"%>
</div>

 <table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      
      <th scope="col">Food Name</th>
      <th scope="col">Measurment unit</th>
      <th scope="col">Price</th>
          <th scope="col">Quantity</th>
      <th scope="col"> Delete Action</th>
            <th scope="col"> Show Action</th>
    </tr>
 </thead>
 <tbody>
  <% @foods.each do |food| %>
  <%= render food%>
 <% end%>
 </tbody>
 </table>
</div>
